.card {
    height: 25rem;
    width: 16rem;
    background-color: #ccc;
    border-radius: 1rem;
    // border: 1px solid rgb(36, 36, 36);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.35), inset 2px 2px 0 0 hsla(0, 0%, 100%, 0.1);
}